/* Default */
* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Courier New', Courier, monospace;
  color: rgb(70, 70, 70);;
  background-image: url("img/old-tech-background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.container {
  width: 80%;
  max-width: 1440px;
  margin: 0 auto;
}

/* Header */
header {
  height: 80px;
  width: 100%;
  background-color: #DDDDDD;
  text-align: center;
  position: fixed;
  z-index: 10;
}

header img {
  width: 50px;
  padding: 10px;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo a {
  text-decoration: none;
  color: #464646;
  font-size: 40px;
  line-height: 80px;
}

/* Main */
section {
  background-color: rgb(255, 225, 168);
  padding-top: 150px;
  padding-bottom: 5%;
  margin: 0 auto;
  display: flex;
}

svg {
  margin-top: -1px;
}

.main-title {
  font-size: 68px;
  letter-spacing: 10px;
  margin-bottom: 30px;
}

.main-title h2 {
  font-size: 25px;
  letter-spacing: 0px;
  margin-top: 10px;
}

.main-title span {
  color: white;
  background-color: black;
  padding: 0px 30px;
}

.main-wrapper {
  width: 100%;
  height: auto;
  background-color: rgba(180, 179, 179, 0.603);
  border-radius: 50px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
}

.photo {
  width: 100%;
  text-align: center;
  background-color: #dddddd;
  border: 5px solid rgb(70, 70, 70);
  border-radius: 34px;
  margin: 10px;
  box-sizing: border-box;
  flex: auto;
}

.photo img {
  width: 200px;
  height: 200px;
  border: 5px solid rgb(70, 70, 70);
  border-radius: 100%;
  padding: 0px;
  margin: 35px 0px 20px 0px;
  box-sizing: border-box;
}

.photo img:hover {
  transition: all 0.5s;
  border-radius: 10%;
}

.icon {
  justify-content: center;
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
}

.icon i {
  font-size: 45px;
  color: rgb(70, 70, 70);
  padding: 0px 10px 10px 10px;
}

.icon i:hover {
  transition: all 0.5s;
  transform: scale(1.2);
}

/* Content */
.all-profile {
  padding-top: 3rem;
}

.content-title {
  height: 50px;
  text-align: center;
  margin-top: -85px;
  margin-bottom: 160px;
}

.content-title h2 {
  font-size: 50px;
  color: wheat;
  padding: 20px;
  background-color: rgba(58, 58, 58,0.8);
  border: 5px solid rgb(70, 70, 70);
  box-sizing: border-box;
  display: inline-block;
}

.profile-left {
  width: 100%;
}

.profile-wrapper {
  width: 100%;
  text-align: left;
  background-color: rgba(221, 221, 221, 0.8);
  border: 5px solid rgb(70, 70, 70);
  border-radius: 10px;
  padding: 2%;
  box-sizing: border-box;
  display: flex;
}

.profile-photo {
  width: 40%;
  height: auto;
  margin-right: 2%;
  box-sizing: border-box;
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-photo img{
  width: 100%;
  background-color: #dddddd;
  border: 5px solid rgb(70, 70, 70);
  border-radius: 10px;
  box-sizing: border-box;
}

.profile-about {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.profile-about h1 {
  font-size: 50px;
  letter-spacing: 10px;
}

.profile-about h2 {
  font-size: 30px;
  letter-spacing: 3px;
  margin-bottom: 2%;
}

.profile-desc {
  background-color: #dddddd;
  border: 5px solid rgb(70, 70, 70);
  border-radius: 10px;
  padding: 2%;
  box-sizing: border-box;
  text-align: justify;
}

.profile-desc p {
  font-size: 25px;
  font-weight: bold;
  line-height: 50px;
}

.card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 70px 0px 0px 0px;
  width: 100%;
  border-radius: 10px;
  overflow: auto;
  background-color: rgba(158, 158, 158, 0.603);
  box-sizing: border-box;
}

/* Footer */
footer h1 {
  font-size: 40px;
  height: auto;
  text-align: center;
  background-color: #ffe1a8;
  margin-top: -40px;
  padding-bottom: 50px;
}
